.container {
  padding: 0 2rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  width: 800px;
  height: 420px;

  background: rgba(245, 245, 255, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 40px;
  border: 1px solid;
  border-image-source: linear-gradient(106.19deg, #EAE1FF 12.58%, rgba(193, 206, 255, 0.55) 86.34%);
}

.title {
  margin: 0;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #444368;
}

.mainButton {
  margin-top: 20px;
  color: white;
  padding: 12px;
  width: 240px;
  border-radius: 24px;
  border: none;
  background: linear-gradient(110deg, #405AE0, #BD62E6);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}